.btn-primary:hover {
	background-color: #6777ef !important;
    border-color: #6777ef !important;
}

.btn-primary {
	background-color: #6777ef !important;
    border-color: #6777ef !important;
}

a .fab {
	color: #6777ef !important;
}